
body{
    background: linear-gradient(gray,rgb(182, 182, 182),white);
    height: 100vh;
    background-size: contain;
    text-align:center;
}
.main{
    display: flex;
    justify-content: center;
    height: max-content;
}
.loginbox{
    width: 80%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.238);
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}
button{
    background-color: rgb(46, 46, 46);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: silver;
    width: 200PX;
    padding: 10PX;
    margin: 10PX 0PX;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
textarea,input[TYPE=TEXT],input[TYPE=PASSWORD],input[type=number],input[type=email]{
    width: 100%;
    margin: 8PX 0PX;
    padding: 12PX 20PX;
    display: inline-block;
    border: transparent;
    border-radius: 10px;
    box-sizing: border-box;
    font-weight: bolder;
    text-align: center;
}
BUTTON:HOVER{
    opacity: 0.5;
}
a{
    color: white;
    text-decoration: none;
}
.name{
    display: flex;
}
div.name input{
    margin: 5px;
}
select{
    border: none;
    border-radius: 5px;
}
#phone{
    display: flex;
    align-items: center;
}
#sel{
    width: 50px;
    height: 35px;
    margin-right: 5px;
    border-radius: 10px;
}
.cource{
    margin: 15px;
    width: 80px;
    height: 25px;
}
.crc_gender{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 40px;
}
div.crc_gender div{
    text-align: left;
}
.remember{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
div.remember a{
    margin-right: 5px;
}
.signup_forgot{
    display: flex;
    justify-content: space-between;
}
div.signup_forgot a,button{
    width: 49%;
}
.get_otp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.get_otp input{
    width: 75%;
    height: 3rem;
}
div.get_otp button{
    width: 25%;
    height: 3rem;
}
.give_otp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.give_otp input{
    width: 75%;
    height: 3rem;
}
div.give_otp button{
    width: 68.4px;
    height: 3rem;
}
@media screen and (max-width: 800px) {
    .loginbox {
        width: 90%;
        padding: 15px;
    }
    button {
        width: 100%;
    }
    textarea, 
    input[type=text],
    input[type=password],
    input[type=number],
    input[type=email] {
        width: 100%;
        padding: 10px;
    }
}
@media screen and (max-width: 500px) {
    .loginbox {
        width: 90%;
        padding: 10px;
    }
    h1 {
        font-size: 1.5rem;
    }
    label, .blk_label {
        font-size: 1rem;
    }
}

