
body{
    text-align: center;
    background: linear-gradient(rgb(0, 0, 0),rgb(20, 20, 113),rgb(37, 41, 146),rgb(255, 255, 255));
    height: 100%;
    background-size: contain;
}
h1{
    color: white;
}
.main{
    display: flex;
    justify-content: center;
}
.loginbox{
    width: 80%;
    background-color: rgb(148, 209, 235);
    text-align: center;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}
button{
    background-color: rgb(43, 150, 226);
    color: azure;
    width: 200PX;
    padding: 10PX;
    margin: 10PX 0PX;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
textarea,input[TYPE=TEXT],input[TYPE=PASSWORD],input[type=number],input[type=email]{
    width: 100%;
    margin: 8PX 0PX;
    padding: 12PX 20PX;
    display: inline-block;
    border: transparent;
    border-radius: 10px;
    box-sizing: border-box;
    font-weight: bolder;
    text-align: center;
}
BUTTON:HOVER{
    opacity: 0.5;
}
a{
    color: black;
    text-decoration: none;
}
select{
    border: none;
    border-radius: 5px;
}
